.about div .title {
    font-family: 'Permanent Marker', cursive;
}

.about .section-1 {
    background: #55E6C1;
}
.about .section-1 .title {
    padding: 0 0;
    top: 60%;
    left: 35%;
    transform: translate(-35%, -60%)
}

.about .section-1 .title {
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    text-transform: uppercase;
}